n8n worfklows/Presales Agent - Quote Tool.json
{
  "name": "Presales Agent - Quote Tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"type\": \"inline\",\n    \"size_sqft\": 100,\n    \"price_per_sqft\": 55,\n    \"registration_fee\": 800,\n    \"subtotal\": 5500,\n    \"total\": 6300,\n    \"client_name\": \"Acme Industries\",\n    \"client_company\": \"Acme Corp\",\n    \"client_email\": \"contact@acmecorp.com\",\n    \"client_phone\": \"(555) 123-4567\"\n }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        96
      ],
      "id": "7b965773-f437-48f5-b560-4e53a73ee2b2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann",
          "cachedResultUrl": "https://github.com/tobiaszwingmann"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-agent-lil",
          "mode": "list",
          "cachedResultName": "n8n-agent-lil",
          "cachedResultUrl": "https://github.com/tobiaszwingmann/n8n-agent-lil"
        },
        "filePath": "tools/quotes/template"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "c4097213-0d26-41c8-ad72-4aee3255c3eb",
      "name": "List files",
      "webhookId": "ee869df5-4ad0-43ef-8282-c93f4978647c",
      "credentials": {
        "githubOAuth2Api": {
          "id": "rqkMAdMVwbOGDQB4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann",
          "cachedResultUrl": "https://github.com/tobiaszwingmann"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-agent-lil",
          "mode": "list",
          "cachedResultName": "n8n-agent-lil",
          "cachedResultUrl": "https://github.com/tobiaszwingmann/n8n-agent-lil"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "67c6b8db-3d95-4912-af03-0c0d38569431",
      "name": "Get a file",
      "webhookId": "d27df519-362c-47f6-9b1c-b633d15bb7ef",
      "credentials": {
        "githubOAuth2Api": {
          "id": "rqkMAdMVwbOGDQB4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "4845069a-9153-4b64-9623-9eda6a451732",
      "name": "HTTP Request",
      "credentials": {
        "githubOAuth2Api": {
          "id": "rqkMAdMVwbOGDQB4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        96
      ],
      "id": "1d886f8e-f811-4094-a243-b8a5ffb31ed8",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Returns one item with dynamic date fields and quote ID\n\n// --- Dynamic fields ---\nconst now = new Date();\n\n// Format date as YYYY-MM-DD\nconst formatDate = (d) => d.toISOString().slice(0, 10);\n\n// Current date\nconst quote_date = formatDate(now);\n\n// Valid until = 30 days later\nconst valid_until = formatDate(new Date(now.getTime() + 30 * 24 * 60 * 60 * 1000));\n\n// Quote ID derived from timestamp (YYMMDD-HHMMSS)\nconst pad = (n) => n.toString().padStart(2, \"0\");\nconst quote_id = `Q-${now.getFullYear().toString().slice(-2)}${pad(now.getMonth()+1)}${pad(now.getDate())}-${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\n\n// --- Static fields ---\nreturn [\n  {\n    json: {\n      quote_id,\n      quote_date,\n      valid_until,\n\n      client_name: $input.last().json.client_name,\n      client_company: $input.last().json.client_company,\n      client_email: $input.last().json.client_email,\n      client_phone: $input.last().json.client_phone,\n\n      org_name: \"Tech Innovate Sales\",\n      org_email: \"sales@techinnovate2026.com\",\n      org_phone: \"(415) 555-0123\",\n\n      type: $input.last().json.type.toUpperCase(),\n      size_sqft: $input.last().json.size_sqft,\n      price_per_sqft: $input.last().json.price_per_sqft,\n      registration_fee: $input.last().json.registration_fee,\n      subtotal: $input.last().json.subtotal,\n      total: $input.last().json.total\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        192
      ],
      "id": "9ec8ab81-35b3-4fb0-b9ac-7f8abb21751c",
      "name": "Define variables"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Expects: \n//   item[0].json.data -> HTML string with {{placeholders}}\n//   item[1].json -> JSON object with data to fill in\n// Returns: one item with rendered HTML\n\nconst htmlTemplate = $input.first().json.data;\nconst vars = $input.last().json;\n\n// Replace {{key}} placeholders in the HTML\nlet rendered = htmlTemplate;\n\nfor (const [key, value] of Object.entries(vars)) {\n  const regex = new RegExp(`{{\\\\s*${key}\\\\s*}}`, 'g');\n  rendered = rendered.replace(regex, value ?? '');\n}\n\n// Return the filled HTML\nreturn [\n  {\n    json: {\n      html: rendered\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        96
      ],
      "id": "be2ecf56-402f-4b21-9623-bdea600cdd39",
      "name": "Update Quote"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "tobiaszwingmann",
          "mode": "list",
          "cachedResultName": "tobiaszwingmann",
          "cachedResultUrl": "https://github.com/tobiaszwingmann"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-agent-lil",
          "mode": "list",
          "cachedResultName": "n8n-agent-lil",
          "cachedResultUrl": "https://github.com/tobiaszwingmann/n8n-agent-lil"
        },
        "filePath": "=tools/quotes/new/{{ $('Define variables').first().json.quote_id}}.html",
        "fileContent": "={{ $json.html }}",
        "commitMessage": "=Added {{ $('Define variables').first().json.quote_id}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1344,
        96
      ],
      "id": "43747807-1681-4093-bdfb-8da020f6fefd",
      "name": "Create a file",
      "webhookId": "d27df519-362c-47f6-9b1c-b633d15bb7ef",
      "credentials": {
        "githubOAuth2Api": {
          "id": "rqkMAdMVwbOGDQB4",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff5daa32-afd1-47e4-a71a-b51d05d76550",
              "name": "download_url",
              "value": "=https://htmlpreview.github.io/?{{ $json.content.download_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        96
      ],
      "id": "2714601d-b4e6-4b5b-a2a2-a57a88c54cfc",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "type": "inline",
          "size_sqft": 100,
          "price_per_sqft": 55,
          "registration_fee": 800,
          "subtotal": 5500,
          "total": 6300,
          "client_name": "Acme Industries",
          "client_company": "Acme Corp",
          "client_email": "contact@acmecorp.com",
          "client_phone": "(555) 123-4567"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Define variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define variables": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update Quote": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10f90a95-9406-45ac-a46e-023deabe2086",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94e1edcc34a91a151fc2ec1b99597068a304e37fdb946fc806f00f97776fce3a"
  },
  "id": "pWXusXvMjVJStwWE",
  "tags": []
}